*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #e4b75b;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.calculator{
    background:black;
    padding: 20px;
    border-radius: 50px;
    
}
.calculator form input{
    bottom: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background:transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 50px 20px;
}
form .display input{
    text-align:right;
    padding-right: 15px;
    flex:1;
    font-size: 30px;

}
form input.circle {
       background: rgb(209, 57, 2);
}
form input.equal{
    width: 155px;
    background-color: rgb(209, 57, 2);
}